  h1{
    font-size: 10vmin;
    line-height: 1.1;
  }
  
  body {
    background: hsl(204 100% 5%);
    box-sizing: border-box;
    display: grid;
    place-content: center;
    font-family: system-ui;
  }
  
  h1, p, body {
    margin: 0;
  }
  
  p {
    font-family: "Dank Mono", ui-monospace, monospace;
  }
  

option {
  font-family: "Dank Mono", ui-monospace, monospace;
}

select {
  font-family: "Dank Mono", ui-monospace, monospace;
}

